@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Manrope, sans-serif;
  font-size: 10px;
}

body {
  height: 100%;
  transition: all 0.8s ease;
}

button, input {
  cursor: pointer;
}

.container {
  min-height: 100vh;
  padding: 40px;
  background: linear-gradient(61deg, #9796f0, #fbc7d4) no-repeat center center / cover;

  h1 {
    font-size: 4rem;
    text-align: center;
  }
}
