// Сolors
$primary-color: #373737;
$secondary-color: #ea90e19c;
$hover-color: #373737b4;
$disabled-color: #00000028;
$disabled-bg-color: #00000010;
$text-color: #434343;
$active-bg-color: #00000023;
$shadow-color: rgba(0, 0, 0, 0.15);
$hover-shadow-color: rgba(0, 0, 0, 0.3);
$background-color: #fff;

// Sizes and margins
$font-size-button: 1.5rem;
$button-radius: 2rem;
$gap: 10px;
$border-radius: 20px;
$padding: 16px;
$max-width: 24vw;
$loader-size: 10em;
$label-font-size: 1.4rem;
$input-size: 2rem;